body{
    background-color: lightcyan;
    width: 720px;
    height: 480px;
    margin: auto;
    font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    bottom:0;
    position: fixed;
}
table{
    margin: 10px;
}
#titlebr{
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: lightslategray;
    border-radius: 10px;
}
#btn{
    width: 160px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: lightslategray;
    border-radius: 10px;
    border: none;
    margin: 150px 0 0 310px;;
}